.SideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid #D7DBDD;
  height: 100%;
  padding: 10px;
  width: 240px;

  background-color: #FCFDFD;
}
